In [1]:
import pandas as pd

In [42]:
df_turmas = pd.read_csv("data/input/calc1_20161.csv")

In [43]:
df_turmas.shape

(944, 9)

In [44]:
selecao = df_turmas.nome == "CÁLCULO I"
calc1 = df_turmas[selecao]

In [45]:
calc1 = calc1[['discente', 'media_final', 'numero_total_faltas']]
calc1 = calc1.drop_duplicates()
calc1.shape

(843, 3)

In [46]:
calc3 = pd.read_csv("data/input/calc3_20171.csv")
calc3 = calc3[['discente', 'descricao']]
calc3.shape

(451, 2)

In [47]:
calc3.groupby('descricao').count()

                                  discente
descricao
APROVADO                                58
APROVADO POR NOTA                      169
CANCELADO                               23
REPROVADO                              143
REPROVADO POR MÉDIA E POR FALTAS        57
REPROVADO POR NOTA                       1

In [48]:
reprovados = ['REPROVADO', 'REPROVADO POR MÉDIA E POR FALTAS', 'REPROVADO POR NOTA', 'CANCELADO']
calc3['descricao'] = calc3['descricao'].apply(lambda x: 'REPROVADO' if x in reprovados else x)

In [37]:
#calc3[calc3['descricao'] == "CANCELADO"]
calc3.head()

                           discente          descricao
0  f0da8cabd20b23182bf870567fa07b95  APROVADO POR NOTA
1  f0da8cabd20b23182bf870567fa07b95  APROVADO POR NOTA
2  152e6b36254c3d00c7b7c9cbae6388a2          REPROVADO
3  bc22ae3969f4cac1064e5d907667cee9          REPROVADO
4  ff1e29f8ec9277e81fba89eee4260118  APROVADO POR NOTA

In [49]:
alunos = pd.merge(calc1, calc3, how='left', left_on='discente', right_on='discente')
alunos.shape

(867, 4)

In [50]:
alunos = alunos.fillna({'descricao': 'NÃO PRESENTE'}).drop_duplicates()

In [51]:
alunos.groupby('descricao').count()

                   discente  media_final  numero_total_faltas
descricao
APROVADO                 43           43                   43
APROVADO POR NOTA        55           55                   55
NÃO PRESENTE            701          701                  701
REPROVADO                44           44                   44

In [41]:
alunos.to_csv("data/output/resultado_2016_2.csv", index=False)