In [2]:
import pandas as pd

In [50]:
df_turmas = pd.read_csv("data/output/materias_2016_2.csv")

In [51]:
df_turmas.shape

(565, 8)

In [52]:
calc3 = pd.read_csv("data/input/calc3_20172.csv")
calc3 = calc3[['discente', 'descricao']]
calc3.shape

(401, 2)

In [53]:
calc3.groupby('descricao').count()

                                  discente
descricao
APROVADO                                35
APROVADO POR NOTA                      126
CANCELADO                               18
REPROVADO                              170
REPROVADO POR MÉDIA E POR FALTAS        51
REPROVADO POR NOTA                       1

In [54]:
reprovados = ['REPROVADO', 'REPROVADO POR MÉDIA E POR FALTAS', 'REPROVADO POR NOTA', 'CANCELADO']
calc3['descricao_c3'] = calc3['descricao'].apply(lambda x: 'REPROVADO' if x in reprovados else x)
calc3.drop(['descricao'], axis = 1, inplace=True)

In [55]:
#calc3[calc3['descricao'] == "CANCELADO"]
calc3.head()

                           discente       descricao_c3
0  f0da8cabd20b23182bf870567fa07b95  APROVADO POR NOTA
1  f0da8cabd20b23182bf870567fa07b95  APROVADO POR NOTA
2  152e6b36254c3d00c7b7c9cbae6388a2          REPROVADO
3  bc22ae3969f4cac1064e5d907667cee9          REPROVADO
4  ff1e29f8ec9277e81fba89eee4260118  APROVADO POR NOTA

In [56]:
alunos = pd.merge(df_turmas, calc3, how='left', left_on='discente', right_on='discente')
alunos.shape

(584, 9)

In [57]:
alunos = alunos.fillna({'descricao_c3': 'NÃO PRESENTE'}).drop_duplicates()
alunos.shape

(565, 9)

In [58]:
alunos.groupby('descricao_c3').count()

,discente,periodoano,media_c1,faltas_c1,media_pre,faltas_pre,media_vga,faltas_vga
descricao_c3,,,,,,,,
APROVADO,15,15,15,15,15,15,15,15
APROVADO POR NOTA,33,33,33,33,33,33,33,33
NÃO PRESENTE,483,483,483,483,483,483,483,483
REPROVADO,34,34,34,34,34,34,34,34

In [59]:
alunos.head(10)

,discente,periodoano,media_c1,faltas_c1,media_pre,faltas_pre,media_vga,faltas_vga,descricao_c3
0,fc00a008434cab36c948886cfa41dbe1,20162,5.6,0.0,6.3,0.0,5.1,6.0,NÃO PRESENTE
1,48025581d9c74fab45b89e5e6e4679eb,20162,0.8,0.0,6.1,0.0,3.0,4.0,NÃO PRESENTE
2,22b8fb344515ec87466220f8cddd5bfe,20162,4.5,0.0,0.4,0.0,3.3,2.0,NÃO PRESENTE
3,112ebc0aa96309b562a1aec89b90533f,20162,0.9,0.0,1.0,0.0,4.0,2.0,NÃO PRESENTE
4,47f9f08422697f9860725a256fc215ef,20162,6.0,0.0,2.1,0.0,5.4,4.0,NÃO PRESENTE
5,7d57672aaedcbea747a8f44fa9c52e7d,20162,5.0,0.0,6.6,0.0,6.9,2.0,NÃO PRESENTE
6,6a4f50349e4377b0cc1f3bb69b4a8cb7,20162,6.9,0.0,5.9,0.0,8.2,4.0,REPROVADO
8,43549ca2a5958683e90cfbcf2d8e73d2,20162,7.8,0.0,9.0,0.0,9.5,0.0,NÃO PRESENTE
9,159e0ca5d45210b109b652e37dbd1484,20162,5.5,0.0,9.1,0.0,7.0,4.0,NÃO PRESENTE
10,5f95f0b0dbd53531cb32a72db0670219,20162,5.0,0.0,6.2,0.0,5.7,0.0,NÃO PRESENTE

In [60]:
alunos.to_csv("data/output/resultado_materias_2016_2.csv", index=False)