In [2]:
import pandas as pd

In [8]:
data = pd.read_csv("../turmas_2015-2017.csv")

In [9]:
data.head()

,Unnamed: 0,descricao,discente,id_turma,media_final,codigo,nome,ano,periodo,unidade_responsavel,id_curso,periodoano
0,0,APROVADO POR NOTA,dbe7197a41191f5a94486623cb99d2bf,1242771,6.7,ECT2304,INTRODUÇÃO À FÍSICA CLÁSSICA II,2015,1,ESCOLA DE CIÊNCIAS E TECNOLOGIA,10320810.0,20151
1,1,APROVADO POR NOTA,dbe7197a41191f5a94486623cb99d2bf,1242771,6.7,ECT2304,INTRODUÇÃO À FÍSICA CLÁSSICA II,2015,1,ESCOLA DE CIÊNCIAS E TECNOLOGIA,10320810.0,20151
2,2,APROVADO POR NOTA,dbe7197a41191f5a94486623cb99d2bf,1242771,6.7,ECT2304,INTRODUÇÃO À FÍSICA CLÁSSICA II,2015,1,ESCOLA DE CIÊNCIAS E TECNOLOGIA,10320810.0,20151
3,5,REPROVADO,770752c8299e765fea3bee00058687da,1242771,4.0,ECT2304,INTRODUÇÃO À FÍSICA CLÁSSICA II,2015,1,ESCOLA DE CIÊNCIAS E TECNOLOGIA,10320810.0,20151
4,6,REPROVADO,770752c8299e765fea3bee00058687da,1242771,4.0,ECT2304,INTRODUÇÃO À FÍSICA CLÁSSICA II,2015,1,ESCOLA DE CIÊNCIAS E TECNOLOGIA,10320810.0,20151

In [10]:
data.shape

(83546, 12)

# Pensando em montar Dataset
Poderiamos montar o dataset agrupando por aluno, onde teriamos uma coluna para a notas nas primeiras materias: Pre-calculo, Cálculo 1, VGA, CTS, PLE e Química

In [11]:
data['nome'].drop_duplicates()

0          INTRODUÇÃO À FÍSICA CLÁSSICA II
660     CIÊNCIA E TECNOLOGIA DOS MATERIAIS
837                    COMPUTAÇÃO NUMÉRICA
1005           PROBABILIDADE E ESTATÍSTICA
1464                            CÁLCULO II
1989              LINGUAGEM DE PROGRAMAÇÃO
2047                  MECÂNICA DOS FLUIDOS
3005                        ÁLGEBRA LINEAR
4082        INTRODUÇÃO À FÍSICA CLÁSSICA I
4766                           CÁLCULO III
8564      INTRODUÇÃO À FÍSICA CLÁSSICA III
9059                  MECÂNICA DOS SÓLIDOS
Name: nome, dtype: object